.board {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  height: 75vh;
  width: 65vw;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.8);
}
